<%- include("partials/header", { title }) %>

<div>
    <h1>Admin Page</h1>
    <p>You are logged in and accessing admin content</p>
    <p>This is only accessible to admins</p>
</div>

<%- include("partials/footer") %>